@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.passWord{
    text-align: center;
    margin-top: 180px;
    border: 2px solid rgba(173, 162, 162, 0.562);
    padding: 50px;
}
.passWord .mot2 h1{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
.passWord .mot2 p{
    color: rgba(0, 0, 0, 0.568);
}
input{
    margin-top:30px ;
    margin-bottom: 20px; 
    padding: 9px;
}

.section{
    border: 2px solid rgba(173, 162, 162, 0.562);
    width: 600px;
    margin-left: 450px;
}
.input label{
    font-size: 24px;
    margin-right: 35px;
}
.input input{
    height: 25px;
    width:357px;
    border-radius: 5px;
}
.pppp p{
    font-style: italic;
    font-weight: bold;
    font-size: 11.3px;
    position: relative;
    left: 70px;
    top: -23px;
}
.button button{
    color: #fff;
    font-style: italic;
    font-size: 15px;
    background: #2691d9;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 150px;
    height: 30px;  
    margin-top: 25px;
}

@media only screen and (max-width: 820px) {
    .passWord {
        padding: 10px;
    }
    .mot2 {
        text-align: center;
    }
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        margin-left: 100px;
        border: none;
    }
    .input label {
        margin-bottom: 5px;
        font-size:0.8rem;
        font-weight: bold;
    }
    .pppp p{
        font-size: 12px;
        margin-left: -140px;
    }
    .input input {
        margin-bottom: 15px;
        width: 200%;
        margin-left: -50px;
        
    }
    .button button {
        width: 70%;
        margin-left: -20px;
    }
}
